.dark {
  --primary: 52, 53, 58;
  --secondary: 43, 46, 49;
  --text: 255, 255, 255;
  --accent: 123, 104, 228;
  --linkedin: 0, 119, 181;
  --github: 23, 21, 21;
  --instagram: 214, 41, 118;
  --navbar: 39, 39, 42;
  --footer: 34, 37, 39;
  --skill: 65, 66, 72;
}

.light {
  --primary: 243, 243, 243;
  --secondary: 234, 234, 234;
  --text: 52, 53, 58;
  --accent: 110, 92, 214;
  --linkedin: 0, 119, 181;
  --github: 23, 21, 21;
  --instagram: 214, 41, 118;
  --navbar: 221, 221, 221;
  --footer: 216, 219, 218;
  --skill: 255, 255, 255;
}

html::-webkit-scrollbar {
  width: 0.8vw;
}

html::-webkit-scrollbar-thumb {
  background-color: #7b68e4;
}

html::-webkit-scrollbar-track {
  background-color: #232527;
}